<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team Collaboration</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="">
    <header class="has-background-black">
      <h1>
        <a href="/" class="title is-1 has-text-white"> TEAM COLLABORATOR </a>
      </h1>

      <nav class="navbar">
    
        <div class="tabs is-toggle is-fullwidth">
          {{#if loggedIn}}

          <li class="navbar-item has-background-black"><a href="/"> HOME </a></li>

          <li id="logout" class="navbar-item has-background-black"><a href=""> LOGOUT </a></li>

          <li class="navbar-item has-background-black"><a href="/dashboard"> DASHBOARD </a></li>
          {{else}}

          <li><a class="navbar-item has-background-black" href="/"> HOME </a></li>

          <li><a class="navbar-item has-background-black" href="/login"> LOGIN </a></li>

          <li><a class="navbar-item has-background-black" href="/signup"> SIGN UP</a></li>
          {{/if}}
        </div>

      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      <div class="section">
        <p>
          Team Collaboration&copy; | Neil, Brandyn, Griselda
        </p>
      </div>
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
