<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team Collaboration</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="">
    <header class="">
      <h1>
        <a href="/" class="title is-1">Team Collaboration</a>
      </h1>
      <nav class="navbar">
        <!-- Conditionally render login or logout links -->
        {{!-- {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}} --}}
        <ul class="navbar-start">
          {{#if loggedIn}}
          <li class="navbar-item"><a href="">Home</a></li>
          <li id="logout" class="navbar-item"><a href="">Logout</a></li>
          <li class="navbar-item"><a href="/dashboard">Dashboard</a></li>
          {{else}}
          <li><a class="navbar-item" href="/">Home</a></li>
          <li><a class="navbar-item" href="/login">Login</a></li>
          <li><a class="navbar-item" href="/signup">Sign Up</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      <div class="section">
        <p>
          Team Collaboration&copy; | Neil, Brandyn, Griselda
        </p>
      </div>
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
