
<!-- Add a code that will add the user to a Private Project -->
<div class="container">
    <div class="box">
        <form id="addCodeForm"></form>
            <label for="code" class="title is-5">Project Code</label>
            <input type="text" placeholder="Project Code" class="input">
            <button class="button" id="addCode">Submit</button>
        </form>
    </div>
</div>