<div class="container">
  <div class="box">
    <h1 class="title is-1">Create Your Project</h1>
    <form id="createProjectForm">
      <label for="name" class="title is-5">Project Name</label>
      <input type="text" placeholder="Project Name" class="input" id="name">
      <label for="description" class="title is-5">Project Description</label>
      <input type="text" placeholder="Project Name" class="input" id="description">
      <label for="code" class="title is-5">Project Code</label>
      <input type="text" placeholder="Project Code" class="input" id="code">

      <button id="createProject" class="button is-success">Create New Project</button>
    </form>
  </div>
</div>

<script src="/js/createProject.js"></script>