<h3 class="title is-3 has-text-white"> CREATE YOUR OWN PROJECT </h3>
<div class="container">
  <div class="box">
  
    <form id="createProjectForm">
      <!-- INPUT TO ENTER PROJECT NAME -->
      <label for="name" class="title is-5 has-text-white"> 
      <h5 class = "create-title"> PROJECT NAME</h5> </label>
      <input type="text" placeholder="Project Name" class="input" id="name">
    
      <!-- INPUT TO ENTER PROJECT DESCRIPTION -->
      <label for="description" class="title is-5 has-text-white"> 
      <h5 class = "create-title"> PROJECT DESCRIPTION </h5>  </label>
      <input type="text" placeholder="Project Description" class="input" id="description">
     
      <!-- INPUT TO ENTER PROJECT CODE -->
      <label for="code" class="title is-5 has-text-white"> 
      <h5 class = "create-title"> PROJECT CODE </h5> </label>
      <input type="text" placeholder="Project Code" class="input" id="code">
      
      <!-- BUTTON TO CREATE THE PROJECT --> 
      <button id="createProject" class="button has-background-link has-text-white"> CREATE NEW PROJECT </button>
    </form>
  </div>
</div>

<script src="/js/createProject.js"></script>