
  <h1 class="title is-1"> Team Collaborator Dashboard  </h1>
  <h3 class="title is-2"> Welcome, {{{member.name}}} </h3>

<!-- NAVBAR FOR BUTTONS --> 
  {{!-- <nav class="navbar"> 

  </nav> --}}

  <div class="container">
    <div class="box">
      <div class="columns">
        <div class="column">
          <h1 class="title is-3">Your Projects</h1>
          {{#each member.projects}}
          <div class="columns">
            <div class="column"><a href=""><h1 class="title is-3">{{name}}</h1></a></div>
            <div class="column"><a href=""><h1 class="title is-3">{{description}}</h1></a></div>
          </div>
          {{/each}}
        </div>
        <div class="column">
          <a href="/create-project"><button class="button is-success">Create Your Own Project</button></a>
          <a href="/join-project"><button class="button is-warning">Join a Project</button></a>
        </div>
      </div>
      

    </div>
  </div>

  <div class="container">
    <div class="box">
      <button class = "button is-primary"> Edit Post</button>
      <button class = "button is-danger"> Delete Post </button>
      <button class="button is-success">Create</button>
    </div>
  </div>

<!-- FOOTER -->
  {{!-- <footer>
    <div class="section">
      <p>
        Team Collaboration&copy; | Neil, Brandyn, Griselda
      </p>
    </div>
  </footer> --}}

