<body>
  <h1 class="title is-1"> Team Collaborator Dashboard  </h1>
  <h3 class="title is-2"> Welcome {{name}} </h3>

<!-- NAVBAR FOR BUTTONS --> 
  <nav class="navbar"> 

  </nav>

  <div class="container">
    <div class="box">

      
      <button class = "button"> Edit Post</button>
      <button class = "button"> Delete Post </button>
    </div>
  </div>

<!-- FOOTER -->
  <footer>
    <div class="section">
      <p>
        Team Collaboration&copy; | Neil, Brandyn, Griselda
      </p>
    </div>
  </footer>

</body>