<!-- HOMEPAGE HANDLEBAR (FIRST THING USER SEES) -->
<div>
  <h5 class="title is-2 has-text-white"> WELCOME TO THE TEAM COLLABORATOR! </h5>
  <h5 class="title is-5 has-text-white">A new, innovative way to manage projects and maintain work efficiently !</h5>
  <div class = "image-container">
  <!-- IMAGE HAS ITS OWN CONTAINER -->
  <img src="img/meeting-hero2.jpg" alt="Meetings" class = "image">
     </div>
  <!-- BUTTON HAS ITS OWN CONTAINER -->
 <div class = "btn-c">
    <a href="/signup"><button class="button has-background-link has-text-white">Get Started</button></a>       </div>    
 
</div>