<!-- HOMEPAGE HANDLEBAR (FIRST THING USER SEES) -->
<div>
  <h5 class="title is-2 has-text-white"> WELCOME TO THE TEAM COLLABORATOR! </h5>
  <h5 class="title is-5 has-text-white">A new, innovative way to manage projects and maintain work efficiently !</h5>
  <div class = "image-container">
  <!-- IMAGE HAS ITS OWN CONTAINER -->
  <img src="img/meeting-hero2.jpg" alt="Meetings" class = "image">
     </div>
  <!-- BUTTON HAS ITS OWN CONTAINER -->
 <div class = "btn-c">
    <a href="/signup"><button class="button has-background-link has-text-white">Get Started</button></a></div>    
</div>

<div class="container homepage-cnt">
   <div class="box">
      <div class="columns is-vcentered">
         <div class="column">
            <h1 class="title is-1 has-text-white">Keep Better Track of Your Work</h1>
         </div>
         <div class="column">
            <img src="/img/homepage1.jpg" alt="">
         </div>
      </div>
   </div>
</div>

<div class="container homepage-cnt">
   <div class="box">
      <div class="columns is-vcentered">
         <div class="column">
            <h1 class="title is-1 has-text-white">Take Notes and Be Efficient</h1>
         </div>
         <div class="column">
            <img src="/img/homepage2.jpg" alt="">
         </div>
      </div>
   </div>
</div>