
<div>
  <h1 class="title is-1">Welcome to Team Collaboration!</h1>
  <p class="subtitle is-1">A new, innovative way to manage projects and maintain work efficiently</p>
  <a href="/signup"><button class="button is-primary">Get Started</button></a>
  <img src="img/meeting-hero2.jpg" alt="Meetings">
</div>