
<div class="container">
    <div class="columns">
        <div class="column"><h1 class="title is-2 has-text-white">{{project.name}}</h1></div>
        <div class="column"><h1 class="title is-2 has-text-white">{{project.description}}</h1></div>
    </div>
</div>

<div class="container">
    <div class="box">
        <h1 class="title is-2">Posts</h1>
        {{#each project.projectPosts}}
        <div class="box">
            <div class="columns">
                <div class="column"><h1 class="title is-3">{{title}}</h1></div>
                <div class="column"><h1 class="title is-5">{{comment}}</h1></div>
                <div class="container">
                    <button class = "button is-primary">Edit Post</button>
                    <button class = "button is-danger"> Delete Post </button>
                </div>
            </div>
        </div>
        {{/each}}

        <button id="createPostBtn" class="button">Create</button>
    </div>
</div>

<div class="container">
    <div class="box">
        <form id="projectPostForm" style="display:none">
            <label  for="title">Project Title</label>
            <input type="text" class="input" id="title">
            <label  for="comment">Project Comment</label>
            <input type="text" class="input" id="comment">
            
            <button type="submit" class="button">Create Post</button>
        </form>
    </div>
</div>

<script src="/js/projectPost.js"></script>