<h2 class="title is-2 has-text-white">SIGN UP</h2>

<!-- SIGN UP FORM --> 
<form id="signup-form">
    <div class="login">
        <div class="field">
        <!-- ENTER NAME FIELD -->
            <label class="label">
                <h3 class = "has-text-white"> NAME </h3>
                 </label>
            <div class="control has-icons-left has-icons-right">
                <input id="signupName" class="input" type="text" placeholder="Enter Name" value="">
            </div>
        </div>

        <!-- ENTER EMAIL FIELD -->
        <div class="field">
            <label class="label"> <h3 class = "has-text-white"> EMAIL </h3></label>
            <div class="control has-icons-left has-icons-right">
                <input id="signupEmail" class="input" type="email" placeholder="Enter Name" value="">
            </div>
        </div>

    <!-- ENTER USERNAME FIELD --> 
        <div class="field">
            <label class="label"> <h3 class = "has-text-white"> USERNAME </h3> </label>
            <div class="control has-icons-left has-icons-right">
                <input id="signupUsername" class="input" type="text" placeholder="Enter Username" value="">
            </div>
        </div>

    <!-- ENTER PASSWORD FIELD -->
        <div class="field">
            <label class="label"> <h3 class = "has-text-white"> PASSWORD </h3></label>
            <div class="control has-icons-left has-icons-right">
                <input id="signupPassword" class="input" type="password" placeholder="Enter Password" value="">
            </div>
        </div>

    <!-- CONFIRM PASSWORD FIELD -->
        <div class="field">
            <label class="label"> <h3 class = "has-text-white"> CONFIRM PASSWORD </h3></label>
            <div class="control has-icons-left has-icons-right">
                <input id="signupPasswordConfirm" class="input" type="password" placeholder="Enter Password" value="">
            </div>
        </div>

    <!-- I AGREE TO THE TERMS AND CONDITIONS -->
        <div class="field">
            <div class="control">
                <label class="checkbox">
                <input type="checkbox">
               <p class = "has-text-white"> I agree to the <a href="#">terms and conditions </a>    </p> 
                </label>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label class="radio">
                <input type="radio" name="question">
                Yes
                </label>
                <label class="radio">
                <input type="radio" name="question">
                No
                </label>
            </div>
        </div>

    <!-- SUBMIT FORM BUTTON --> 
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link">Submit</button>
            </div>
            
    <!-- CANCEL FORM BUTTON --> 
            <div class="control">
                <button class="button is-link is-light">Cancel</button>
            </div>
        </div>
    </div>
</form>

<script src="./js/signup.js"></script>