<!-- Add a code that will add the user to a Private Project -->
<div class = "code-insert">
    <h3> Type in your Code to add Project </h3>
    <span class="close">&times;</span>
    <br>
    <input class = "add-code" type = "text" id = "add-code"/>
    <button class = "btn-submit" type = "submit"> Add Code </button>
</div>
