<body>
    <h1> Team Collaborator Dashboard  </h1>
<h3> Welcome {{name}} </h3>

<!-- NAVBAR FOR BUTTONS --> 
<nav> 
    <button class = "edit-btn"> Edit Post</button>
    <button class = "delete-btn"> Delete Post </button>
</nav>

<!-- FOOTER -->
<footer>
      <div class="section">
        <p>
          Team Collaboration&copy; | Neil, Brandyn, Griselda
        </p>
      </div>
    </footer>

</body>