body {
    background-color: black;
}


.login{
    border: 3px solid rgb(119, 0, 255);
    padding: 5em;
    border-radius: 2em;
    background-color: rgb(19, 19, 19);
}

h2 {
    text-align: center;


}

.title{
    padding-bottom: 40px;
    padding-top: 150px;
}


footer {
    text-align: center;
    color: white;
    padding-top: 160px;

}

